{% load rundb_extras %}
<table>
<thead>
  <tr>
    <td colspan="5">&nbsp;</td>
    <th colspan="5" style="text-align:center">Inefficiency (%)</th>
  </tr>
  <tr>
    <th>Fill id</th>
    <th>Date</th>
    <th>Stable Beam duration</th>
    <th>Delivered lumi</th>
    <th>Stored lumi</th>
    <th>Total</th>
    <th>HV ON</th>
    <th>VELO IN</th>
    <th>RUNNING</th>
    <th>ON TAPE</th>
  </tr>
  
</thead>
{% for fill in fills %}
  <tr>
    <td>{% if not single %} <a href="/rundb/fill/{{fill.fill_id}}/">{% endif %}
         {{fill.fill_id}}
         {% if not single %}</a>{% endif %}
     </td>
    <td>{{fill.timestamp}}</td>
    <td>{{fill.time_total|sectodur}}</td>
    <td class="numbers">{{fill.lumi_total|floatformat:2}}</td>
    <td class="numbers">{{fill.lumi_logged|floatformat:2}}</td>
    <td class="numbers">{{fill.inefficiency|floatformat:2}}</td>
    <td class="numbers">{{fill.hvon_lost|floatformat:2}}</td>
    <td class="numbers">{{fill.veloin_lost|floatformat:2}}</td>
    <td class="numbers">{{fill.running_lost|floatformat:2}}</td>
    <td class="numbers">{{fill.ontape_lost|floatformat:2}}</td>
  </tr>
{% endfor %}
</table>