{% spaceless %}
{% if runs %}
<script language="javascript">
$(document).ready(function(){
  $("#runtable").floatHeader();
  $("#runtable").find(".ss_lightbulb[title]").tooltip();
});
</script>
    <table id="runtable">
       <thead>
        <tr>
          <th>&nbsp</th>
          <th>RUNID</th>
          <th>FILLID</th>
          <th>FILES</th>
          <th>PARTITION: SUBDETECTORS</th>
          <th>RUNTYPE</th>
          <th>ACTIVITY</th>
          <th>TCK</th>
          <th>EVENTS{% with "Total number of_events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
          <th>PHYSSTAT{% with "Total number of non-nanoified events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
          <th>STATE </th>
          <th>DESTINATION</th>
          <th>START/END</th>
        </tr>
       </thead>
       {% for run in runs %}
       <tr id="run-{{run.runid}}" class="{% cycle 'odd' 'even' %}">
        <td>
         {% if not single %}
         <a href="/rundb/run/{{run.runid}}/"  style="text-decoration:none"><span class="ss_sprite ss_information">&nbsp;</span></a>
         {%endif%}
         {% if run.has_files %}
         <a href="#" title="Show files" onclick="return rundb_showfiles({{run.runid}},1)" style="text-decoration:none"><span class="ss_sprite ss_application_view_list">&nbsp;</span></a>
         {%endif%}
        </td>
        <td>{{run.runid}}</td>
        <td>{{run.fillid}}</td>
        <td>{{ run.rundbfiles_set.count }}</td>
        <td>{{ run.partitionname }}: 
           {% if run.is_subpartitions_short %} 
            {% for partition in run.subpartitions %}
              {{ partition }}
            {% endfor %}
           {% else %}
           <b>all but</b>
           {% for partition in run.xsubpartitions %}
            {{ partition }}
           {% endfor %}
           {% endif %}
        </td>
        <td>{{run.runtype}}</td>
        <td>{{run.activity}}</td>
        <td>{{run.tck_hex}}</td>
        <td>{{run.file_counters.events}}</td>
        <td>{{run.file_counters.physstat}}</td>
        <td>{{run.file_counters.state}}</td>
        <td>{{run.destination}}</td>
        <td>{{run.starttime|date:"Y-m-d H:i:s" }}<br/> {{run.endtime|date:"Y-m-d H:i:s" }}</td>
        </tr>
       {% endfor %}
    </table>
{% else %}
    <p>No runs are available.</p>
{% endif %}
{% endspaceless %}
