{%extends "base.html"%}
{%block title_head%}Run {{run.runid}}{%endblock%}
{%block title%}Run {{run.runid}}{%endblock%}
{%block head_javascript%}
<script type="text/javascript" src="{{MEDIA_URL}}rundb/js/rundb.functions.js"></script>
{%endblock%}
{%block content%}
<br/>
{% include "rundb/rundb_maintable.html" %}

<table>
<thead>
<tr>
  {% for index in iodins %}
  <th>odin_trg_{{index}}</th>
  {%endfor%}
</tr>
</thead>
<tr>
  {% for odin in odins %}
  <td>{{odin}}</td>
  {%endfor%}
</tr>
</table>

<table>
<thead>
<tr>
  {% for index in inevents %}
  <th>nevent_{{index}}</th>
  {%endfor%}
</tr>
</thead>
<tr>
  {% for nevent in run.nevents %}
  <td>{{nevent}}</td>
  {%endfor%}
</tr>
</table>
{%endblock%}
