{% spaceless %}
<script language="javascript">
$(document).ready(function(){
  $("#runtable").floatHeader();
  $(".ss_lightbulb[title]").tooltip();
});
</script>
{% include "rundb/rundb_files_stat.html" %}
{% if runs%}
    <table id="runtable">
       <thead>
        <tr>
          <th>&nbsp</th>
          <th>RUNID</th>
          <th>FILLID</th>
          <th>FILES</th>
          <th>PARTITION: SUBDETECTORS</th>
          <th>RUNTYPE / ACTIVITY</th>
          <th>TCK</th>
          <th>EVENTS{% with "Total number of_events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
          <th>STATE / DESTINATION</th>
          <th>START</th>
          <th>END</th>
        </tr>
       </thead>
       {% for run in runs %}
       <tr id="run-{{run.runid}}" class="{% cycle 'odd' 'even' %}">
        <td>
         {% if not single %}
         <a href="/rundb/run/{{run.runid}}/"  style="text-decoration:none"><span class="ss_sprite ss_information">&nbsp;</span></a>
         {%endif%}
         {% if run.has_files %}
         <a href="#" title="Show files" onclick="return rundb_showfiles({{run.runid}},1)" style="text-decoration:none"><span class="ss_sprite ss_application_view_list">&nbsp;</span></a>
         {%endif%}
        </td>
        <td>{{run.runid}}</td>
        <td>{%if run.fill%}<a href="/rundb/fill/{{run.fill.fill_id}}">{%endif%}{{run.fillid}}{% if run.fill%}</a>{% endif %}</td>
        <td>{{ run.rundbfiles_set.count }}</td>
        <td>{{ run.partitionname }}: 
           {% if run.is_subpartitions_short %} 
            {% for partition in run.subpartitions %}
              {{ partition }}
            {% empty %}
            none
            {% endfor %}
           {% else %}
           {% if not run.is_subpartitions_complete %}
           <b>all but</b>
           {% for partition in run.xsubpartitions %}
            {{ partition }}
           {% endfor %}
           {%else%}
           complete
           {% endif %}
           {% endif %}
           
        </td>
        <td>{{run.runtype}}<br/>
        {{run.activity}}</td>
        <td>{{run.tck_hex}}</td>
        <td>{{run.events}}</td>
        <td>{{run.state}}<br/>{{run.destination}}</td>
        <td>{{run.starttime|date:"Y-m-d H:i:s" }}</td>
        <td>{{run.endtime|date:"Y-m-d H:i:s" }}</td>
        </tr>
       {% endfor %}
    </table>
{% else %}
    <p>No runs are available.</p>
{% endif %}
{% endspaceless %}
