<table>
<thead>
<tr>
  <th>odin_0{% with "Number of ODIN type 0 (physics) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>odin_1{% with "Number of ODIN type 1 (beam-gas) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>odin_2{% with "Number of ODIN type 2 (Lumi) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>odin_3{% with "Number of ODIN type 3 (technical) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>odin_4{% with "Number of ODIN type 4 (auxiliary) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>odin_5{% with "Number of ODIN type 5 (nonZSup) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>odin_6{% with "Number of ODIN type 6 (timing) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>odin_7{% with "Number of ODIN type 7 (calibration) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
</tr>
</thead>
<tr>
  <td>{{run.odin_trg_0}}</td>
  <td>{{run.odin_trg_1}}</td>  
  <td>{{run.odin_trg_2}}</td>
  <td>{{run.odin_trg_3}}</td>
  <td>{{run.odin_trg_4}}</td>
  <td>{{run.odin_trg_5}}</td>
  <td>{{run.odin_trg_6}}</td>  
  <td>{{run.odin_trg_7}}</td>
</tr>
</table>
