{% load rundb_extras %}
<table>
<thead>
  <tr>
    <th>Fill id</th>
    <th>Date</th>
    <th>Stable Beam duration</th>
    <th>Delivered lumi</th>
    <th>Stored lumi</th>
    <th>Inefficienty (%)</th>
  </tr>
</thead>
{% for fill in fills %}
  <tr>
    <td>{% if not single %} <a href="/rundb/fill/{{fill.fill_id}}/">{% endif %}
         {{fill.fill_id}}
         {% if not single %}</a>{% endif %}
     </td>
    <td>{{fill.timestamp}}</td>
    <td>{{fill.time_total|sectodur}}</td>
    <td>{{fill.lumi_total}}</td>
    <td>{{fill.lumi_logged}}</td>
    <td>{{fill.inefficiency}}</td>
  </tr>
{% endfor %}
</table>