{%extends "base.html"%}
{%block title_head%}Run {{run.runid}}{%endblock%}
{%block title%}Run {{run.runid}}{%endblock%}
{%block head_javascript%}
<script type="text/javascript" src="{{MEDIA_URL}}rundb/js/rundb.functions.js"></script>
{%endblock%}
{%block content%}
<br/>
{% include "rundb/rundb_maintable.html" %}
{% with  run.file_counters as counters%}
{% include "rundb/rundb_files_stat.html" %}
{% endwith %}

{% if run.params %}
<table>
<thead>
<tr>
{% for key in run.params.keys %}
  <th>{{key}}</th>
{% endfor %}
</tr>
</thead>
<tr>
{% for value in run.params.values %}
  <td>{{value}}</td>
{%endfor%}
</tr>
</table>
{%endif%}

<table>
<thead>
<tr>
  <th>Reference count</th>
  <th>Reference owner</th>
  <th>Reference date</th>
</tr>
</thead>
<tr>
  <td>{{file.refcount}}</td>
  <td>{{file.refowner}}</td>
  <td>{{file.refdate}}</td>
</tr>
</table>
{%endblock%}

