{%extends "base.html"%}
{%block title_head%}File {{file.name}}{%endblock%}
{%block title%}File {{file.name}}{%endblock%}
{%block head_javascript%}
<script type="text/javascript" src="{{MEDIA_URL}}rundb/js/rundb.functions.js"></script>
{%endblock%}
{%block content%}
<br/>
{% include "rundb/rundb_files_table.inc.html" %}
<table>
  <tr>
    <th>Physics</th>
    <th>Lumi</th>
    <th>MinBias</th>
    <th>BeamGas</th>
    <th>Other</th>
  </tr>
  <tr>
    <th>Inclusive</th>
    <td>{{file.n_physics_inc}}</td>
    <td>{{file.n_minbias_inc}}</td>
    <td>{{file.n_lumi_inc}}</td>
    <td>{{file.n_beamgas_inc}}</td>
    <td>{{file.n_other_inc}}</td>
  </tr>
  <tr>
    <th>Exclusive</th>
    <td>{{file.n_physics_exc}}</td>
    <td>{{file.n_minbias_exc}}</td>
    <td>{{file.n_lumi_exc}}</td>
    <td>{{file.n_beamgas_exc}}</td>
    <td>{{file.n_other_exc}}</td>
  </tr>  
</table>
<table>
<thead>
<tr>
  <th>Reference count</th>
  <th>Reference owner</th>
  <th>Reference date</th>
</tr>
</thead>
<tr>
  <td>{{file.refcount}}</td>
  <td>{{file.refowner}}</td>
  <td>{{file.refdate}}</td>
</tr>
</table>
<table>
<thead>
<tr>
  <th>Log</th>
</tr>
<tr><td>
<ul>
{% for log in file.log %} 
  <li>{{log.time|date:"Y-m-d H:i:s"}} &mdash; {{log.type}} &mdash;  {{log.message}}</li>
{% endfor %}
</ul>
</td></tr>
</table>
{%endblock%}
