<table>
<thead>
<tr>
  <th>nevent_0{% with "Number of ODIN type 0 (physics) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>nevent_1{% with "Number of ODIN type 1 (beam-gas) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>nevent_2{% with "Number of ODIN type 2 (Lumi) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>nevent_3{% with "Number of ODIN type 3 (technical) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>nevent_4{% with "Number of ODIN type 4 (auxiliary) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>nevent_5{% with "Number of ODIN type 5 (nonZSup) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>nevent_6{% with "Number of ODIN type 6 (timing) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th>nevent_7{% with "Number of ODIN type 7 (calibration) events in FULL stream" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
</tr>
</thead>
<tr>
  <td>{{file.nevent_0}}</td>
  <td>{{file.nevent_1}}</td>  
  <td>{{file.nevent_2}}</td>
  <td>{{file.nevent_3}}</td>
  <td>{{file.nevent_4}}</td>
  <td>{{file.nevent_5}}</td>
  <td>{{file.nevent_6}}</td>  
  <td>{{file.nevent_7}}</td>
</tr>
</table>