{%extends "base.html"%}
{%block head_javascript%}
<script type="text/javascript" src="{{MEDIA_URL}}rundb/js/rundb.functions.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.b-input-hint').inputHints();
  
  $("fieldset.collapsible").collapse();
  $("fieldset.collapsible-closed").collapse( { closed : true } );
});
</script>
{%endblock%}
{%block title_head%}Search{%endblock%}
{%block title%}Search{%endblock%}
{%block top%}
<div class="span-21 last">
<div id="rundb-formControl" >
<a id="rundb-formControl-show" style="display:none" class="button">Show form...</a>
<a id="rundb-formControl-hide" class="button">Hide form...</a>
</div>
</div>
{%endblock%}

{%block content%}
{%include "rundb/rundb_search_form.inc.html"%}

<div class="span-24 last">
  <div id="rundb-loading"><img src="/media/i/loading.gif"/></div>
  <div id="rundb-tblMain"></div>
</div>
{%endblock%}
