{% if counters %}
<fieldset>
{%if not file%}
<legend>Counters summary for files from FULL stream: </legend>
{%endif%}
<table>
<thead>
<tr>
  <th>Runs</th>
  <th>Files</th>
  <th>Events</th>
  <th>PhysStat</th>  
  <th>LowLumi</th>
  <th>HighLumi</th>
</tr>
</thead>
<tr>
 <td>{{counters.RUNS}}</td>
 <td>{{counters.FILES}}</td>
 <td>{{counters.EVENTS}}</td>
 <td>{{counters.PHYSSTAT}}</td>
 <td>{{counters.LOWLUMI}}</td>
 <td>{{counters.MIDLUMI}}</td>
</tr>
</table>

<table>
<thead>
<tr>
  <th>ODIN type</th>
  <th>Physics</th>
  <th>BeamGas</th>
  <th>Lumi</th>
  <th>Technical</th>
  <th>Other</th>  
</tr>
</thead>
<tr>
  <td>&nbsp;</td>
  <td>{{counters.TRG0}}</td>
  <td>{{counters.TRG1}}</td>
  <td>{{counters.TRG2}}</td>
  <td>{{counters.TRG3}}</td>
  <td>{{counters.TRG}}</td>  
</tr>
</table>

<table>
<thead>
<tr>
  <th>HLT tags</th>
  <th style="text-align:right">Physics{% with "Number of HLT1 physics (bits 11 and 46) accepted events" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}</th>
  <th style="text-align:right">MinBias<{% with "Number of minimum bias (bit 47) events" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}/th>
  <th style="text-align:right">Lumi<{% with "Number of luminosity (bit 33) accepted events" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}/th>
  <th style="text-align:right">BeamGas<{% with "Number of beam gas (bit 49) events" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}/th>
  <th style="text-align:right">Other<{% with "Number of events not in any of the other 4 categories" as tooltip%}{%include "tooltip.inc.html"%}{%endwith%}/th>  
</tr>
</thead>
<tr>
  <th>Inclusive</th>
  <td style="text-align:right">{{counters.PHYSIN}}</td>
  <td style="text-align:right">{{counters.MBIASIN}}</td>
  <td style="text-align:right">{{counters.LUMIIN}}</td>
  <td style="text-align:right">{{counters.BEAMGASIN}}</td>
  <td style="text-align:right">{{counters.RANDIN}}</td>  
</tr>
<tr>
  <th>Exclusive</th>
  <td style="text-align:right">{{counters.PHYSEX}}</td>
  <td style="text-align:right">{{counters.MBIASEX}}</td>
  <td style="text-align:right">{{counters.LUMIEX}}</td>
  <td style="text-align:right">{{counters.BEAMGASEX}}</td>
  <td style="text-align:right">{{counters.RANDEX}}</td>  
</tr>
</table>
</fieldset>
{% endif %}
