.b-input-hint label {
    position: absolute;
    float: left;
    margin: 0.4em 0 -2em 0.2em;
    cursor: text;
    color: #999;
}

.b-ul-inline li
{
  display:inline;
  margin-left: 10px;
}

.numbers {
	text-align: right;
}
