<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>RUNDB - {% block title_head %}{% endblock %}</title>
{% include "head.html" %}
{% block head_javascript %}{% endblock %}
</head>
<body>
<div class="container">
<div class="span-21 prepend-3 last">
   <a href="/"><img src="{{MEDIA_URL}}i/logo.png" class="pull-3"/></a>
   <div class="span-10"><a href="/">Search</a></div>
   <div class="span-11 last" style="text-align:right">
   	{% if user.is_authenticated %}
		Welcome, <strong>{{user.username}}</strong> |
		<a href="/logout?next_page={{request.get_full_path|urlencode}}">Logout</a>
	{% else %}
		<a href="/login?next_page={{request.get_full_path|urlencode}}">Login</a>
	{% endif %}  <span class="notice">BETA 2.0</span>
 </div>
 <div class="span-21"><h1>RUNDB: {%block title%}{%endblock%}</h1>{% block top %}{% endblock %}&nbsp;</div>
</div>
<div class="span-24 last">
{% spaceless %}
     {% block content %}{% endblock %}
{% endspaceless %}
</div>
</div>
</body>
</html>
