<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>RUNDB - {% block title_head %}{% endblock %}</title>
{% include "head.html" %}
{% block head_javascript %}{% endblock %}
{% if request_from_external%}
<script type="text/javascript"><!--
reformal_wdg_w    = "713";
reformal_wdg_h    = "450";
reformal_wdg_domain    = "rundb";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "RUNDB";
reformal_wdg_ltitle  = "";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#524d43";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "left";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895"
reformal_wdg_tbcolor  = "#FFFFFF"
//-->
</script>
<script type="text/javascript" language="JavaScript" src="http://widget.idea.informer.com/tabn2v2.js"></script><noscript><a href="http://rundb.useridea.com">RUNDB feedback</a> <a href="http://useridea.com"> Powered by <img src="http://widget.useridea.com/i/reformal_ru.png" /></a></noscript>

{% endif %}
</head>
<body>
<div class="container">
<div class="span-21 prepend-3 last">
   <div class="span-3 pull-3"><a href="/"><img src="{{MEDIA_URL}}i/logo.png" class="left"/></a></div>
   <div class="span-10">
       <a href="/rundb/search"><b>Search</b></a> |
       <a href="/rundb/fills">Fills</a> |
       <a href="http://github.com/mazurov/rundb-django" target="_blank">Project tracker</a> |
       <a href="https://lbtwiki.cern.ch/bin/view/Operation/RunDb" target="_blank">Help</a>
   </div>
   <div class="span-11 append-bottom last" style="text-align:right">
   	{% if user.is_authenticated %}
		Welcome, <strong>{{user.username}}</strong> |
		<a href="/logout?next_page={{request.get_full_path|urlencode}}">Logout</a>
	{% else %}
		<a href="/login?next_page={{request.get_full_path|urlencode}}">Login</a>
	{% endif %}  <span class="notice">BETA 2.0</span>
 </div>
 <div class="span-21 last"><h1>RUNDB: {%block title%}{%endblock%}</h1>{% block top %}{% endblock %}&nbsp;</div>
</div>
<div class="span-24 last">
{% spaceless %}
     {% block content %}{% endblock %}
{% endspaceless %}
</div>
</div>
{% if request_from_external%}
{% endif %}
</body>
</html>
