<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>RUNDB - {% block title_head %}{% endblock %}</title>
{% include "head.html" %}
{% block head_javascript %}{% endblock %}
{% if request_from_external%}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2260293-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</head>
<body>
<div class="container">
<div class="span-21 prepend-3 last">
   <div class="span-3 pull-3"><a href="/"><img src="{{MEDIA_URL}}i/logo.png" class="left"/></a></div>
   <div class="span-10">
       <a href="/rundb/search"><b>Search</b></a> |
       <a href="/rundb/fills">Fills</a> |
       <a href="http://github.com/mazurov/rundb-django" target="_blank">Project tracker</a>
   </div>
   <div class="span-11 append-bottom last" style="text-align:right">
   	{% if user.is_authenticated %}
		Welcome, <strong>{{user.username}}</strong> |
		<a href="/logout?next_page={{request.get_full_path|urlencode}}">Logout</a>
	{% else %}
		<a href="/login?next_page={{request.get_full_path|urlencode}}">Login</a>
	{% endif %}  <span class="notice">BETA 2.0</span>
 </div>
 <div class="span-21 last"><h1>RUNDB: {%block title%}{%endblock%}</h1>{% block top %}{% endblock %}&nbsp;</div>
</div>
<div class="span-24 last">
{% spaceless %}
     {% block content %}{% endblock %}
{% endspaceless %}
</div>
</div>
{% if request_from_external%}
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "mazurov";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
{% endif %}
</body>
</html>
